body{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    min-height: 100vh;

}
.sidebar{
    background-color: rgb(47, 50, 51);
    height: 100vh;
    width: 300px;
}
.content{
    background-color: #fff;
    height: 100vh;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-item{
    display: flex;
    align-items: center;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.active-menu{
    background-color:  #99ccff;
}
.menu-item:hover{
    background-color: #99ccff;
}
.menu-text{
    margin-left: 10px;
}
.menu-icon{
    height: 20px;
}
.bottom-navigation-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(47, 50, 51);
    color: #fff;
    display: none;
}

/* Small Devices */
@media screen and (max-width: 600px){
    .sidebar{
        display: none;
    }
}

/* Normal Devices */
@media screen and (min-width: 601px) and (max-width: 768px){
}

/* Tablets Devices */
@media screen and (min-width: 769px) and (max-width: 992px){
}

/* Large Devices */
@media screen and (min-width: 993px) and (max-width: 1200px){
}