body{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    min-height: 100vh;

}
.sidebar{
    background-color: rgb(47, 50, 51);
    height: 100vh;
    width: 300px;
}
.content{
    background-color: #fff;
    height: 100vh;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-item{
    display: flex;
    align-items: center;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.active-menu{
    background-color:  #99ccff;
}
.menu-item:hover{
    background-color: #99ccff;
}
.menu-text{
    margin-left: 10px;
}
.menu-icon{
    height: 20px;
}